/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap.*/
html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
  /* bottom = footer height */
  padding-bottom: 60px;
}

@import "bootstrap";

a {
  color: green !important;
}

nav {
  a {
    text-decoration: none !important;
  }
}

button {
  background-image: none !important;
}

.form-control:focus {
  border-color: green;
  box-shadow: inset 0 1px 1px rgb(255, 255, 255), 0 0 8px rgb(0, 135, 23);
}

.search-bar {
  width: 350px;
}

@media (max-width: 1199px) {
  .search-bar {
    width: 200px;
  }
}

@media (max-width: 420px) {
  .homepage-product-text {
    font-size: 0.9em;
  }

  .homepage-product-button {
    font-size: 0.7em;
  }
}

.custom-footer {
  background-color: rgb(82, 82, 82);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
  overflow: hidden;
}
