<p style="color: green"><%= notice %></p>
  <% if @product.image.attached?%>
    <p>
      <%= image_tag @product.image.variant(resize_to_fill: [262, 200]) %>
    </p>
  <% end %>
<%= render @product %>
